{% load static %}

<header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        ЯнаПочтамт
      </a>
      {% with request.resolver_match.view_name as view_name %}
        <ul class="nav  nav-pills">
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'index' %} text-white {% endif %}" href="{% url 'index' %}">
              <span class="fw-bold">Входящие</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'sent' %} text-white {% endif %}" href="{% url 'sent' %}">
              <span class="fw-bold">Исходящие</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'trash' %} text-white {% endif %}" href="{% url 'trash' %}">
              <span class="fw-bold">Корзина</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'archive' %} text-white {% endif %}" href="{% url 'archive' %}">
              <span class="fw-bold">Архив</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'create_mail' %} text-white {% endif %}" href="{% url 'create_mail' %}">
              <span class="fw-bold">Написать письмо</span>
            </a>
          </li>

          {% if user.is_authenticated %}
            <span class="navbar-text">Пользователь: <b>{{ user.username }}</b></span>
            <li class="nav-item">
              <a class="nav-link {% if view_name == 'password_change' %} active {% endif %}"
                href="{% url 'password_change' %}">Изменить пароль</a>
            </li>
            <li class="nav-item">
              <form class="nav-link" method="post" action="{% url 'logout' %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="nav-link btn btn-link p-0 text-decoration-none">Выйти</button>
              </form>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link{% if view_name == 'login' %} active {% endif %}" href="{% url 'login' %}">Войти</a>
            </li>
            <li class="nav-item">
              <a class="nav-link{% if view_name == 'registration' %} active {% endif %}" href="{% url 'registration' %}">Регистрация</a>
            </li>
          {% endif %}
        </ul>
      {% endwith %}
    </div>
  </nav>
</header>

