{% extends "base.html" %}

{% block content %}
  <h1>Список исходящих писем</h1>
  {% if mails_sent_list %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      {% for mail in mails_sent_list %}
        <div class="col">
          <div class="card border-secondary mb-3 h-100">
            <div class="card-header">
              <span class="fw-bold">Отправитель: </span>{{ mail.sender }}<br>
            </div>
            <div class="card-body text-secondary">
              <h5 class="card-title">
                <span class="fw-bold">Тема: </span>{{ mail.subject }}
              </h5>
              <p class="card-text">
                {{ mail.text|truncatewords:4 }}
              </p>
              <p class="card-text">
                <span class="fw-bold">Дата: </span>{{ mail.created_at }}
              </p>
              <p class="card-text">
                <a href="{% url 'mail' mail.id %}">Читать полностью</a>
              </p>
            </div>
            <div class="btn-group">
              <form method="post" action="{% url 'move_to_archive' mail.id %}">
                {% csrf_token %}
                <button type="submit" title="Архивировать" class="btn btn-outline-secondary">Архивировать</button>
              </form>
              <form method="post" action="{% url 'move_to_trash' mail.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger">В корзину</button>
              </form>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>Писем пока нет.</p>
  {% endif %}
{% endblock content %}