{% extends "base.html" %}

{% block content %}
  <h1>Список исходящих писем</h1>
  {% if mails_sent_list %}
    {% for mail in mails_sent_list %}
      <div class="card border-dark mb-12" style="margin: 20px">
        <div class="card-header">
          <span class="fw-bold">Отправитель: </span>{{ mail.sender }}<br>
          <span class="fw-bold">Получатель: </span>{{ mail.recipient }}
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <span class="fw-bold">Тема: </span>{{ mail.subject }}
          </h5>
          <p class="card-text">
            {{ mail.text|truncatewords:30 }}
          </p>
          <p class="card-text">
            <span class="fw-bold">Дата: </span>{{ mail.created_at }}
          </p>
          <p class="card-text"><a href="{% url 'mail' mail.id %}">Читать полностью</a>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary" title="В архив">
            <i class="bi bi-archive"></i> Архивировать
          </button>
          <button type="button" class="btn btn-sm btn-outline-danger" title="В корзину">
            <i class="bi bi-trash"></i> В корзину
          </button>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>Писем пока нет.</p>
  {% endif %}
{% endblock content %}
